<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bsb.mapper.IScheduleMapper">

    <resultMap id="BaseResultMap" type="com.bsb.pojo.Schedule"/>

    <insert id="insertSchedule" parameterType="java.util.List">
        INSERT INTO schedule_table
        (
        movieId, hallId, price, startTime, endTime
        )
        VALUES
        <foreach collection="list" item="schedule" index="index" separator=",">
            (
            #{schedule.movieId}, #{schedule.hallId}, #{schedule.price}, #{schedule.startTime}, #{schedule.endTime}
            )
        </foreach>
    </insert>

    <delete id="deleteScheduleById" parameterType="java.util.List">

        DELETE FROM schedule_table WHERE id IN

        <foreach item="id" collection="list" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>
</mapper>