<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bsb.mapper.IUserMapper">

    <resultMap id="BaseResultMap" type="com.bsb.pojo.User"/>

    <insert id="insertUser" parameterType="com.bsb.pojo.User">
        INSERT INTO user_table (id, username, password, type, realName, email, phone, address, create_time, update_time)VALUES
        (null, #{username}, #{password}, #{type},
        #{realName}, #{email}, #{phone}, #{address}, now(), now())

    </insert>
</mapper>