 *{
        	padding:0;
        	margin:0;
        }
        nav{
        	background-color: #0099CB;
        	height:35px;
        }
        li{
        	list-style: none;
        }

		#leftNave{
			float:left;
			width:13%;
			height: 640px;
			background-color: #293038;
		}

		#leftNave img{
			float: left;
			width:20px;
			margin-left:10px;
		}
		#leftNave li{
			list-style: none;
			width:100%;
			padding:10px 0;
			overflow: hidden;
			
		}
		#leftNave li:hover{
			background-color: #0099CB;
		}
		#leftNave li p{
			 float:left;
			 font-size: 13px;
			 color:white;
			 margin-left:10px;
		}

		.contentLeftNave{
			display: none;
		}



		/*内容信息的*/
		#addImg{
           position: absolute; top:7%; right:4%;
		}
		#content{
			float:left;
			width:87%;
			height:60px;

		}

		#content table{
			width:80%;
			margin:20px auto;
		}
		#content h4{
			text-align: left;
		}
		#content table p{
      	 font-size: 13px;
      	 height:30px;
      	 line-height: 30px;
      	 text-align: left;
      }

		#content table td{
			height:32px;
			border-bottom:1px solid #ccc;
		}

		/*二级菜单*/
		.userMenu,.SecondMenu{
			float:left;
			background-color:#EAEDF2; 
            width:8%;
            height: 640px;
            
		}
		.userMenu li p,.SecondMenu li p{
           height:30px;
           line-height: 30px;
           font-size: 12px;
           padding-left:20px;
		}
		.userMenu li:hover,.SecondMenu li:hover{
			background-color: white;
		}
		.userContent,.movieContent {
			width:92%;
			float:left;
		}
		.play{

			width:95%;
			margin:20px auto;
		}
		.play table{
			width:100%;
            border:0;

		}
		
		/*tbody tr:nth-child(odd) {  
  
            background: #F5F5F5;  
  
       } */
       .user,.play{
       	  display: none;
       } 
      .play input{
      	 display: block;
      	 width:95%;
      	 height:30px;
      	 font-size: 12px;
      	 outline: none;
      	 border:none;
      }

		
		.add{
			font-size: 13px;
			color:#0099CB;
		}
		.detail,.change,.slip,.delete{
			color:red;
		}
		.detail:hover,.change:hover,.slip:hover,.delete:hover,.add:hover{
			cursor: pointer;
			text-decoration: underline;
		}


		#addBtn{
			margin-right:100px;
			float:right;
			width:70px;
			height:30px;
			line-height: 30px;
			text-align: center;
			border-radius: 5px;
		}